<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/home.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/font.css')}}">
    <!-- Tailwinds -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="container">
    <nav class="container navbar navbar-expand-lg bg-white navbar-nav">
      <div class="container mx-5 my-2  ">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('prediction')}}">Prediction</a>
            </li>  
          </ul>
        </div>
      </div>
      </div>
    </nav>

    <!-- Kontent -->
    <div class="container bg-dark text-white p-3">
    <div class="justify-content-around rounded-bottom" >    
    <div class="p-3">
    <h4><p>{{kontent}}</p></h4>
    </div>
      <p>Anemia merupakan penyakit yang dapat dialami oleh tubuh manusia dimana kadar hemoglobin pada darah lebih rendah dari batas normal</p>
      <p>Seseorang dikatakan terkena anemia jika kadar hemoglobin pada darah lebih rendah dari batas normal. Peran hemoglobin dalam darah sangat penting. Hemoglobin adalah protein kaya zat besi yang memberikan warna merah pada darah. Protein ini akan membantu sel-sel darah merah membawa oksigen (O2) dari paru-paru ke seluruh tubuh dan membawa kembali karbon dioksida (H2O) ke paru-paru. </p>
    </div>
  </div>

    <!-- Untuk Gambar kontent -->
    <!-- Menjelaskan tentang Bisa terkena anemia -->
      <div class="container justify-content-center mt-3  gap-4 p-3 shadow  ">
      <h4>Penyebab Anemia</h4>
    </div>

    <div class=" justify-content-around d-flex flex-row mb-3 gap-4 p-3 ">
    <div class="card "  style="width: 18rem;">
      <img src="{{url_for('static',filename='assets/tutorial/obat.png')}}" class="card-img-top zoom my-lst" alt="blabala">
    <div class="card-body">
      <p class="card-text text-dark">Konsumsi obat-obatan tertentu</p>
      <p class="card-text">
        </p>
    </div>
  </div>
    <div class="card "  style="width: 18rem; ">
      <img src="{{url_for('static',filename='assets/tutorial/gizi.png')}}" class="card-img-top zoom my-lst" alt="blabala">
    <div class="card-body">
      <p class="card-text text-dark">Kurangnya asupan gizi</p>
    </div>
  </div>
    <div class="card "  style="width: 15rem; ">
      <img src="{{url_for('static',filename='assets/tutorial/hemo.png')}}" class="card-img-top zoom my-lst" alt="blabala">
    <div class="card-body">
      <p class="card-text text-dark">Kurangnya hemoglobin</p>
    </div>
  </div>
    </div> 
  


<div class="container">
    <div class=" justify-content-around row row-cols-1 row-cols-md-2 g-4 mx-5 ">
      <h4 class="container shadow justify-content-center mt-3  gap-4 p-3 shadow ">Gejala Anemia</h4>
    <div class="card">
      <img src="{{url_for('static',filename='assets/tutorial/lelah.png')}}" class="img-fluid zoom " alt="..."  style="width:  15rem; max-width: 500px;">
      <div class="card-body">
        <h5 class="card-title">Lemah dan Letih</h5>
        </p>
    </div>
  </div>
    <div class="card " >
      <img src="{{url_for('static',filename='assets/tutorial/pusing.png')}}" class="img-fluid zoom " alt="..."   style="width:  15rem; max-width: 500px;">
      <div class="card-body">
        <h5 class="mx-5 card-title">Sakit kepala</h5>
        </p>
    </div>
  </div>
    <div class="card " >
      <img src="{{url_for('static',filename='assets/tutorial/lupa.png')}}" class="img-fluid zoom " alt="..."   style="width:  15rem; max-width: 500px;">
      <div class="card-body">
        <h5 class="mx-5 card-title">Cepat lupa</h5>
        </p>
    </div>
  </div>
</div>
</div>



   
    

<!-- Menjelaskakn solusi agar tidak terkena anemia -->
<div class="justify-content-around row row-cols-1 row-cols-md-2 g-4 mx-5">
    <h4 class="container shadow justify-content-center mt-3  gap-4 p-3 shadow  ">Pencegahan anemia</h4>
    <div class="col my-lst  zoom">
      <div class="card  ">
        <img src="{{url_for('static',filename='assets/tutorial/kopi.png')}}" class=" container  rounded-circle" style="width:  10rem; max-width: 540px;"  alt="eye">
        <div class="card-body">
          <h5 class="card-title">Hindari Kaefin berlebih</h5>
        </div>
      </div>
    </div>
    <div class="col my-lst  zoom">
      <div class="card">
        <img src="{{url_for('static',filename='assets/tutorial/gizi.png')}}" class=" container  rounded-circle" style="width:  20rem; max-width: 540px;"  alt="eye">        <div class="card-body">
          <h5 class="card-title">Makan-makanan bergizi</h5>
        </div>
      </div>
    </div>
    <div class="col my-lst  zoom">
      <div class="card">
        <img src="{{url_for('static',filename='assets/tutorial/vitc.png')}}" class=" container  rounded-circle" style="width:  15rem; max-width: 540px;"  alt="eye">        <div class="card-body">
          <h5 class="card-title">Konsumsi Vitamin C</h5>
        </div>
      </div>
  </div>
  </div>
  <!-- Footer -->
  <div class="border border-dark">
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <section class="#">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Proyek Akhir
          </h6>
          <p>
            Klasifikasi Palpebral Dengan CNN
          </p>
          <div class="p-3">
            <p>
              EyeAnemia
            </p>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Team
          </h6>
          <p>
            <a href="#!" class="text-reset">{{tim_pertama}}</a>
          </p>
          <p>
            <a href="#!" class="text-reset">{{tim_kedua}}</a>
          </p>
          <p>
            <a href="#!" class="text-reset">{{tim_ketiga}}</a>
          </p>
          <p>
            <a href="#!" class="text-reset">{{tim_kempat}}</a>
          </p>
          <p>
            <a href="#!" class="text-reset">{{tim_kelima}}</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="#">KSEye</a>
  </div>
  <!-- Copyright -->
</div>
</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>