<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/home.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/font.css')}}">


 

  </head>

  <body>
    <nav class="contianer navbar navbar-expand-lg bg-white navbar-nav   ">
      <div class="container mx-5 my-2  ">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('prediction')}}">Prediction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>

    <!-- Kontent -->
    <div class="bg-dark text-white p-3">
    <div class="justify-content-around rounded-bottom" >    
    
    <h4><p>{{kontent}}</p></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti perferendis non quasi adipisci. Voluptate repellendus doloremque sequi deserunt minus mollitia aperiam a consequuntur. Pariatur alias nobis eos culpa natus architecto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem vel error magnam optio aliquam suscipit ipsa in ipsum laudantium. Alias vel voluptates illo quaerat enim architecto nam omnis non exercitationem.</p>
    </div>
  </div>

    <!-- Untuk Gambar kontent -->
    <!-- Menjelaskan tentang Bisa terkena anemia -->
    
      <div class="container justify-content-around gap-4 p-3 shadow ">
      <h4>Penyebab Anemia</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas soluta saepe veritatis sit debitis tenetur incidunt dolorem mollitia deleniti eos dicta sequi non impedit, quo laboriosam assumenda perferendis nulla id.</p>
    </div>
    <div class=" justify-content-around d-flex flex-row   mb-3 gap-4 p-3 ">
    <div class="card "  style="width: 18rem;">
      <img src="{{url_for('static',filename='assets/tutorial/tutor4.PNG')}}" class="card-img-top zoom my-lst" alt="blabala">
    <div class="card-body">
      <p class="card-text text-dark">  Menggunakan Data mata yang sudah dilakukan berbagai proses</p>
    </div>
  </div>
    <div class="card"  style="width: 18rem;">
      <img src="{{url_for('static',filename='assets/tutorial/tutor4.PNG')}}" class="card-img-top zoom my-lst" alt="blabala">
    <div class="card-body">
      <p class="card-text"> <a class="text-decoration-none link-unstyled text-dark"> Menggunakan Data mata yang sudah dilakukan berbagai proses</a></p>
    </div>
  </div>
    </div> 
  



<!-- Penyebab Anemia -->
<h4 class="container mt-5 p-3">Gejala Anemia</h4>
<div class="container  justify-content-around d-flex flex-row rounded">
  <div class="card mb-3  " style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{url_for('static',filename='assets/tutorial/pusing.png')}}" class="img-fluid zoom " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sakit kepala</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae error debitis nam ipsum eum magni, id recusandae quibusdam, aperiam voluptatem expedita tenetur sed illo iusto dolores autem voluptates porro. Similique.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3  " style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{url_for('static',filename='assets/tutorial/lelah.png')}}" class="img-fluid zoom " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Lemah dan Letih</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem debitis sapiente dolor incidunt laudantium cumque praesentium dolore maiores minima eius. Totam temporibus fugit optio obcaecati nam? Dignissimos, saepe sapiente. Molestias?</p>
        </div>
      </div>
    </div>
  </div>
</div>


    <!-- Teknolgi yang digunakan -->
<div class="container mt-3 p-3 gap-4">
  <h4>Teknologi</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, fugit quod at temporibus nam laborum accusamus dolores error itaque delectus eaque sequi, autem veritatis harum labore. Tenetur labore quaerat sit.</p>
</div>
<div class="justify-content-around d-flex flex-row my-lst mb-3 gap-4 p-3  ">
      <img src="{{url_for('static',filename='assets/tutorial/numpy.png')}}" class=" container  zoom rounded-circle" style="width:  10rem; max-width: 540px;"  alt="eye">
      <img src="{{url_for('static',filename='assets/tutorial/python.png')}}" class=" container zoom rounded-circle" style="width:  10rem; max-width: 540px;"  alt="eye">
      <img src="{{url_for('static',filename='assets/tutorial/alb.png')}}" class=" container  zoom rounded-circle" style="width:  10rem; max-width: 540px;"  alt="eye">
      <img src="{{url_for('static',filename='assets/tf.png')}}" class=" container  zoom rounded-circle" style="width:  10rem; max-width: 540px;"  alt="eye">
    </div>
   
    

<!-- Menjelaskakn solusi agar tidak terkena anemia -->
  <h4 class="container mt-5 ">Obat</h4>
  <div class="ustify-content-around row row-cols-1 row-cols-md-2 g-4 mx-5 my-lst">
    <div class="col zoom">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi beatae, aperiam exercitationem voluptates asperiores provident excepturi alias. Unde recusandae eos doloremque reprehenderit. Natus, neque? Ea tempore odio ab nam.</p>
        </div>
      </div>
    </div>
    <div class="col zoom">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum iste, consectetur vero incidunt deserunt pariatur optio iusto nesciunt ipsa magnam temporibus omnis soluta quibusdam sapiente architecto maxime aspernatur tempore!</p>
        </div>
      </div>
    </div>
    <div class="col zoom">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi modi temporibus natus officiis consequuntur aliquam facilis quisquam obcaecati quis adipisci, cupiditate rerum quaerat aliquid fuga odit, eos omnis minus provident!</p>
        </div>
      </div>
    </div>
    <div class="col zoom">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, omnis autem, neque praesentium ipsam nihil at officiis nostrum ex, enim provident distinctio cum! Quidem animi sed aspernatur quia rerum. Tenetur?</p>
        </div>
      </div>
    </div>
  </div>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>