<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
      <div class="container mx-5 my-2  ">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('prediction')}}">Prediction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5">    
    <h2>{{nama}}</h2>
    <p>Adalah kondisi ketika tubuh kekurangan sel darah merah yang sehat atau ketika sel darah merah tidak berfungsi dengan baik. Akibatnya, organ tubuh tidak mendapat cukup oksigen sehingga membuat penderita anemia pucat dan mudah lelah.</p>
    </div>
    <div class="container mt-5 ">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-7">
              <div class="card bg-light">
                  <div class="card-header ">
                      <h3 class="card-title mt-2">Prediksi Anemia</h3>
                    </div>
                  <div class="card-body">
                      <form method="POST" action="/prediction"
                        enctype = "multipart/form-data">

                          <div class="row mt-4">
                              <div class="col-md-5">
                                <div class="row">
                                  </div>
                                    <h5 style="font-family:Arial, Helvetica, sans-serif">Jenis Kelamin</h5>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="gender" id="Pria" value=1>
                                      <label class="form-check-label" style="font-family:Arial, Helvetica, sans-serif" for="priaRadios">Pria</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="gender" id="Wanita" value=0 >
                                      <label class="form-check-label" style="font-family:Arial, Helvetica, sans-serif" for="wanitaRadios">Wanita</label>
                                    </div>
                                    <div class="row mt-4">
                                      <h5 style="font-family:Arial, Helvetica, sans-serif">Masukkan Gambar</h5>
                                      <input type="file"  name="file" class="form-control-file" id="Conjuntiva_Palpebral" value="Upload">
                                    </div>
                              </div>
                                
                              <div class="col-md-7">
                                  <h6 style="font-family:Arial, Helvetica, sans-serif">*Contoh gambar yang sesuai:</h6>
                                  <img src="conjunctiva palpebral.jpg" class="img-fluid" alt="Conjuntiva Palpebral">
                              </div>
                          </div>
                          <div class="row py-4 ">
                              <div class="d-grid gap-2 col-md-5 mx-auto">
                                  <input type="submit" class="btn btn-primary">
                                </div>
                              <div class="col">
                                  <h3 class="result">{{palpeb}}</h3>
                              </div>
                          </div>
                      </form>
                 </div>
      </div>        
  </div>   
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>